.homepage-container {
    padding: 2rem;
    background-color: #1a1a1a; /* optional: matches dark theme in case there's time for that lol*/
    color: white;
    min-height: 100vh;
  }
  
  .homepage-container h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .homepage-container p {
    font-size: 1.1rem;
    color: #4eb1cc; /* pretty cruise-like blue */
  }
  
  .logout-button {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #16779A;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #125e78;
  }
  